img {
    max-width: 100px;
    margin-top: 20px;
}

p {
    margin: 0;
    line-height: 1.2;
}

button {
    padding: 0;
    background: none;
    border: none;
}

.container {
    margin: 20px 0 100px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: IMBrand;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(100%);
    width: 250px;
    height: 90px;
    padding-top: 10px;
    white-space: nowrap;

    background-image: url('../../../assets/images/yellow-btn.png');
}

.btn:hover {
    filter: brightness(120%);
    color: #fff !important;
}

.download {
    font-size: 20px;
}

.platforms {
    font-size: 10px;
    font-family: NotoSans, Arial;
    margin-top: 0;
    text-transform: none;
}

.version {
    font-size: 12px;
}